.navbar{
    width: 90vw;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    background-color: black;
    position: sticky;
    top: 20px;
    color: white;
    margin-left: 5vw;
    margin-bottom: 40px;
}